.Project
    display: flex
    flex-direction: row
    justify-content: space-between
    align-items: center
    margin: 3px auto
    padding: 10px
    z-index: 0
    background: #00BCD4
    border-radius: 3px
    border: 0px

    .icon__button
        z-index: 1

    h2, h3
        margin: 0
    